@{
    Layout = "_Layout";
}
    <h1>Destinations!</h1>
    <br><h3><a href='/categories'>View categories</a></h3>
    <h3><a href='/categories/new'>Add a new category</a></h3>
    <h3><a href='/favorite_photos'>Favorite Photos</a></h3>