@{
    Layout = "_Layout";
}
    @using Places.Models;

    @if (Model.Count == 0)
    {
        <p>There are no destinations in the list.</p>
    }
    <ul>
        @foreach (Destination destination in Model)
        {
            @* <li>@destination.Description</li> *@
            <li><a href='/destinations/@destination.Id'>@destination.CityName</a></li>
        }
    </ul>
    <form action="/destinations/delete" method="post">
        <button type="submit" name="button">Clear All destinations</button>
    </form>
    <br>
    <br>
    <a href="/destinations/new">Add a new destination.</a>