@{
    Layout = "_Layout";
}
    <h1>Add a new destination to @Model.Name</h1>
    <form action="/categories/@Model.Id/destinations" method="post">
    <label for="cityName">City: </label>
    <input id="cityName" name="cityName" type="text"><br><br>
    <label for="description">Description: </label>
    <input id="description" name="description" type="text"><br>
    <button type="submit">Submit</button>
    </form>