@{
    Layout = "_Layout";
}

    <h1>To Do List Destination Details: </h1>

    <h2>@Model["destination"].Description</h2>
    <h3>Category: @Model["category"].Name</h3>

    <a href='/categories/@Model["category"].Id/destinations/new'>Add another destination</a>
    <a href='/categories'>View all categories</a>